{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static',filename='img/home-bg.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Admin-Pannel</h1>
        </div>
      </div>
    </div>
</header>

<div class="container" style="width: 1500px;">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Basic Action</h1>

      <a href="/edit/0"><button class="btn btn-lg btn-primary" type="submit">Add New Post</button></a>
      <a href="/logout"><button class="btn btn-lg btn-primary" type="submit">Logout</button></a>
      <hr>
      <h1>Upload A File</h1>
      <form action="/uploader" method="POST" enctype="multipart/form-data">
        <input type="file" name="file1">
        <button type="submit" class="btn btn-lg btn-primary">Upload</button>
      </form>
      <hr>
      <h1>Edit Post</h1>
      <table class="table" style="width: 118%;">
        <thead>
          <tr>
            <th scope="col">S_No</th>
            <th scope="col">Title</th>
            <th scope="col">Tagline</th>
            <th scope="col">Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
          <tr>
            <th scope="row">{{post[0]}}</th>
            <td>{{post[1]}}</td>
            <td>{{post[2]}}</td>
            <td>{{post[6]}}</td>
            <td><a href="/edit/{{post[0]}}"> <button class="btn btn-lg btn-primary" type="submit">Edit</button></a>
            </td>
            <td> <a href="/delete/{{post[0]}}"> <button class="btn btn-lg btn-primary" type="submit">Delete</button></a>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock %}